<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <div id='editor'>
      <textarea name="post[content]" id="n" class="form-control" rows="20" v-model='input' debounce='50'></textarea>
      <div class="di_inline_t preview">
        <div v-html='input | marked' style: :"width: 650px;"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
window.onload = function() {
  new Vue({
    el: '#editor',
    data: {
      input: '<%== j @post.content %>',
    },
    filters: {
      marked: marked,
    },
  });
};
  </script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
